
/* main *//* main *//* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main *//* main *//* main */
body {

    width: 100vw;

    background: linear-gradient(194deg, #2C2C2C 42%, rgba(0,0,0,0.3660057773109243) 100%);
    overflow-x: hidden;

}

main {
    display: flex;
    flex-direction: column;

    color: var(--color-text);
    position: relative;
}

main > p {
    
    position: relative;
    color: white;
    font-size: 1em;
    top: 2em;
    left: 2em;    
    max-width: 90vw;
    margin-bottom: 1em;
    z-index: -1;
    height: fit-content;
}


/* main > p:after {

    color: rgb(0, 255, 255); 
    mix-blend-mode: difference;
} */

main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50em;
    gap: 4em;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    place-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

main ul li {
    list-style: none;
    width: fit-content;
    justify-content: center;
    box-shadow:
      0 0 7px var(--color-text);
      transition: ease-in 0.1s;
}

main ul li:nth-child(1){
    transform: rotate(2deg);
}

main ul li:nth-child(2){
    transform: rotate(-3deg);
}

main ul li:hover{
    transform: rotate(0deg);
} 


main ul li a {
    background-color: var(--color-white);
    width: 80vw;
    max-width: 30em;
    height: 17.5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    position: relative;
    border: var(--color-white) 1px solid;
}




main ul li a div {
    display: flex;
    flex-direction: column;
    color: var(--color-text-black);
}

main  ul li a img {
    width: 16em;
    object-fit: cover;
    position: absolute;
    bottom: 0.1em;
    right: 0.1em;    
}

main ul li a div h3{
    font-size: 1.3em;
    color: var(--color-text-black);
}

main ul li a div{
    position: relative;
}
main ul li a div p {

    display: none;
    color: var(--color-text-black);
}








/* Media main *//* Media main *//* Media main *//* Media main *//* Media main */
/* Media main *//* Media main *//* Media main *//* Media main *//* Media main */
/* Media main *//* Media main *//* Media main *//* Media main *//* Media main */



@media (min-width: 36em){

    body {
        height: 100vh;
        /* overflow-y: hidden; */
    }
    main {
        height: 50em;
    }
    main ul li a div p {
        display: inline;
        max-width: 13em;
    }

    main ul li a div p:nth-of-type(2){
        position: absolute;
        bottom: 0em;
    } 
}

@media (min-width: 40em) {
    main > p {
        max-width: 30em;
    }
}


@media (min-width: 46em){

    main ul{
        top: 6em;
        position: absolute;
        right: 4em;
        width: fit-content;
    }


    main ul li a {
        width: 31.25em;
        padding: 1em;
        display: flex;
        flex-direction: row;
        position: relative;
       
    }

    main > p {
        top: 2em;
    }
}



@media (min-width: 23.4375em) {
    main  ul li a img {
        width: 20em;
    }
}


@media (min-width: 37em) {
    main > p {
        font-size: 1.1em;
        max-width: 27em;
        left: 3em; 
    }
}
@media (min-width: 64em){
    main > p {
        position: absolute;
        max-width: 22em;
        font-size: 1.2em;
        top: 6.4em;
        left: 2em;
        }

    main ul {
       top: 0em;
    }
}


@media (min-width: 70em){
    main > p {
        position: absolute;
        max-width: 22em;
        font-size: 1.5em;
        top: 4.8em;
        left: 2em;
    }
}
