/* algemeen *//* algemeen *//* algemeen *//* algemeen */
/* algemeen *//* algemeen *//* algemeen *//* algemeen */
/* algemeen *//* algemeen *//* algemeen *//* algemeen */


*, *::after, *::before {
    box-sizing:border-box;  
    font-family: "Montserrat", sans-serif;
  }
  button, summary {
      cursor: pointer;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
   
}

p, h2, h1, h3 {
    color: var(--color-text);
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    /* cursor: none; */
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }





body > div {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.2;
    mix-blend-mode: difference;

}





  
:root{
    --color-background-gradient: rgb(10, 10, 10);
    --color-direct-background:rgba(44, 44, 44, 0.63);

    --color-text:white;
    --color-links: rgb(255, 255, 255);

    --gradient-white: linear-gradient(194deg, #C1C1C1 100%, 
    #FFFFFF 100%);

    --gradient-black: linear-gradient(194deg, #2C2C2C 100%,
    #555555 100%);

    --color-white: #C1C1C1;

    --color-text-black: black;

    --color-gradient-een: rgba(10,10,10,1) 38%;

    --color-gradient-twee: rgba(10,10,10,0) 100%;

    --transparent-neon: rgba(0, 0, 0, 0.4); 


    --neonkleureen: rgb(182, 182, 182);

    --neonkleurtwee: rgb(129, 129, 129);
}










/* achtergrond vlak*//* achtergrond vlak*//* achtergrond vlak*//* achtergrond vlak*/
body {
    background: rgb(0,0,0);
    background: linear-gradient(194deg, #2C2C2C 42%, rgba(0,0,0,0.3660057773109243) 100%); 

}



/* body {
    background-image: linear-gradient(185deg, rgba(31,31,31,1) 0%, rgba(113,113,113,1) 100%) ;
    height: 100%;
} */








/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
header{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding-left: 0.3em;
    padding-right: 0.3em;
    justify-content: center;
    padding-top: 2em;
    min-width: 18em;
}

header h1 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-text);
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 1.6em;
    left: 0.8em;
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin-top: 4em;
    padding-left: 0;
}









header nav ul li {
    transform: rotate(10deg);
    background-color: var(--color-white);
    transition: ease-in 0.1s;

}

header nav ul li a {
    color: var(--color-text-black); 
    padding: 1em;
    transform: rotate(10deg);
    background-image: var(--gradient-white);
    transition: ease-in 0.1s;
    box-shadow:
      0 0 7px var(--color-text);
      text-decoration: none;
      font-size: 0.8em;

  }


  header nav ul li:hover {
    transform: rotate(-10deg);
  }
  header nav ul li.active{
    transform: rotate(0deg);
  }




/* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main */


@media (min-width: 23em){

    header nav ul li a {
        font-size: 1em;
    }

}



@media (min-width: 37.5em){
    header{
        justify-content: space-between;
        padding-left: 2em;
        padding-right: 3em;
    }


    header h1 {
        position: static;
    }
  
    header nav ul {
        margin-top: 1em;

    }


   
}













