/* algemeen *//* algemeen *//* algemeen *//* algemeen */
/* algemeen *//* algemeen *//* algemeen *//* algemeen */
/* algemeen *//* algemeen *//* algemeen *//* algemeen */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing:border-box;  



}

h1, h2, h3, h4 {
    font-family: 'Chivo Mono', monospace;
    
}

p, a, button, summary {
    font-family: 'Montserrat', sans-serif;
}

button, summary {
      cursor: pointer;
}

::-webkit-scrollbar{
      display: none;
}

a {
    text-decoration: none; 
        transition: all 0.3s ease;
      
}
img {
    z-index: 90;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);

    z-index: 100;
}


/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



/* the onzichtbare img */
body > img {
    position: absolute;
    top: 40em;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    filter: var(--background-color);
    width: 100%;
    height: auto;    
}




    :root{
        --background-color: rgb(35, 35, 35);

        --color-text:white;

        --color-text-black: black;

        --color-white: #C1C1C1;

        --color-direct-background:rgba(44, 44, 44, 0.63);

        --neonkleureen: rgb(182, 182, 182);

        --gradient-white: linear-gradient(194deg, #C1C1C1 100%, 
        #FFFFFF 100%);

        --color-div: rgb(0, 0, 0);

    }    


/* Eind algemeen *//* Eind algemeen *//* Eind algemeen *//* Eind algemeen */
/* Eind algemeen *//* Eind algemeen *//* Eind algemeen *//* Eind algemeen */



/* Circle */
body > div {
    display: none;
    pointer-events: none;
    position: absolute;
    background-color: rgb(214, 214, 214);
    /* background-color: #333333; */
    border-radius: 50%;
    mix-blend-mode: difference;
    width: 300px;
    height: 300px;
    z-index: 80;
}




/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header */
header{
    padding-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding-left: 0.3em;
    padding-right: 0.3em;
    justify-content: center;
    padding-top: 3em;
    min-width: 18em;
    z-index: 900;
}

header a img {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: 2em;
    height: auto;
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin-top: 2em;
    padding-left: 0;

}



header nav ul li {
    transform: rotate(10deg);
    background-color: var(--color-white);
    transition: ease-in 0.1s;


}

header nav ul li a {
    color: var(--color-text-black); 
    padding: 1em;
    transform: rotate(10deg);
    background-image: var(--gradient-white);
    transition: ease-in 0.1s;
    box-shadow:
      0 0 7px var(--color-text);
      text-decoration: none;
      font-size: 0.8em;

  }


  header nav ul li:hover {
    transform: rotate(-10deg);
  }
  header nav ul li.active{
    transform: rotate(0deg);
  }




/* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main */
/* main *//* main *//* main *//* main *//* main */


@media (min-width: 23em){

    header nav ul li a {
        font-size: 1em;
    }
 
}



@media (min-width: 37.5em){
    header{
        justify-content: space-between;
        padding-left: 2em;
        padding-right: 3em;
    }


    header h1 {
        position: static;
    }
  
    header nav ul {
        margin-top: 1em;

    }

  
   
}


@media (min-width: 55em){
    body > div {
        display: block;
    }   
}





/* loading class */
.show {
opacity: 1;
transition: 2s;

}





