body {
  width: 100vw;

  > img {
    top: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2em;
  padding-top: 1em;

  section {
    z-index: 100;
  }

  > section:nth-of-type(1) {
    height: fit-content;
    display: flex;
    position: relative;
    max-width: 90vw;
    width: fit-content;
    background-color: var(--color-white);
    border: var(--neonkleureen) 1px solid;
    box-shadow: 0 0 7px var(--color-text);

    p {
      max-width: 35em;
      margin: 1em;
      margin-bottom: 3em;
      line-height: 1.5em;
      color: var(--color-text-black);
    }

    > a {
      text-decoration: underline;
      position: absolute;
      bottom: 1em;
      right: 1em;
      color: var(--color-text-black);
    }

    img {
      order: -1;
      margin-right: 2em;
      margin-left: 2em;
      margin-top: auto;
      margin-bottom: auto;
      width: 10em;
      height: 10em;
      display: none;
    }
  }

  > section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: fit-content;
    width: 80%;
    align-items: center;
    gap: 1em;

    h2,
    section h3,
    section h2 {
      font-size: 1.5em;
      margin: 0;
      margin-top: 1em;
      padding: 0;
      color: var(--color-text-black);
    }

    p {
      color: var(--color-text-black);
    }

    section {
      width: 80%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--color-white);
      border: var(--neonkleureen) 1px solid;
      box-shadow: 0 0 7px var(--color-text);
      transform: rotate(4deg);
    }

    div {
      width: 80%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--color-white);
      border: var(--neonkleureen) 1px solid;
      box-shadow: 0 0 7px var(--color-text);
      transform: rotate(-2deg);

      p {
        margin-bottom: 2em;
        margin-top: 1em;
        max-width: 90%;
        font-size: 0.8em;
      }

      section {
        display: flex;
        justify-content: left;
        padding: 0;
      }

      a {
        padding: 1em;

        svg {
          fill: var(--color-text-black);
        }
      }
    }
  }

  @media (min-width: 27em) {
    padding-top: 5em;
    gap: 2em;

    > section:nth-of-type(2) {
      gap: 3em;

      div p {
        max-width: none;
        font-size: 1em;
      }
    }
  }

  @media (min-width: 40em) {
    > section:nth-of-type(1) img {
      display: block;
    }

    > section:nth-of-type(2) {
      div {
        width: 60%;
      }
      section {
        width: 60%;
      }
    }
  }

  @media (min-width: 55em) {
    > section:nth-of-type(2) {
      flex-direction: row;
      max-width: 90vw;
      justify-content: space-between;

      div {
        width: 40%;
      }
      section {
        width: 40%;
      }
    }
  }

  @media (min-width: 57em) {
    > section:nth-of-type(2) {
      max-width: 51.125em;
    }
  }
}
