/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Rajdhani", sans-serif;
}

p,
a,
li,
button,
summary, label {
    font-family: "Montserrat", sans-serif;
}

button,
summary {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// :root {
//     --background-color: rgb(245, 245, 245);
//     --color-text: rgb(0, 0, 0);
//     --color-text-black: black;
//     --color-white: #c1c1c1;
//     --color-gray: #191919;
//     --color-black: #191919;
//     --color-direct-background: rgba(44, 44, 44, 0.63);
//     --neonkleureen: rgb(182, 182, 182);
//     --gradient-white: linear-gradient(194deg, #c1c1c1 100%, #ffffff 100%);
//     --color-div: rgb(0, 0, 0);
//     --transparent: rgba(0, 0, 0, 0);
//     --light-hover: rgba(0, 0, 0, 0.05);
// }

// @media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(33, 33, 33);
        --color-text: rgb(224, 224, 224);
        --color-text-black: black;
        --color-white: #3B3B3B;
        --color-gray: #c6c6c6;
        --color-black: #ffffff;
        --color-direct-background: rgba(44, 44, 44, 0.63);
        --neonkleureen: rgb(182, 182, 182);
        --gradient-white: linear-gradient(194deg, #c1c1c1 100%, #ffffff 100%);
        --color-div: rgb(0, 0, 0);
        --transparent: rgba(0, 0, 0, 0);
        --light-hover: rgba(255, 255, 255, 0.05);
    }
// }

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--background-color);
}

// MAIN
main {
    width: 100%;
    height: 100%;
    position: relative;
    > section {
        display: flex;
        width: 100vw;
        color: white;
    }
}

footer {
    padding: 0.6em;
    background-color: #3B3B3B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        display: flex;
        gap: 1em;
        a {
            width: fit-content;
            img {
                width: 1.8em;
                filter: invert(100%);
                transition: 200ms;
            }
        }
        a:hover {
            img {
                scale: 1.1;
            }
        }
    }
   
}

@media (prefers-color-scheme: dark){
    input, textarea {
        color-scheme: dark;
    }
    #dialog {
        button {
            img {
                filter: invert(100%);
            }
        }
    }
}